@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* @import url("http://fonts.cdnfonts.com/css/futura-md-bt"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Futura Std Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Futura Std Book"), url("./fonts/FuturaStdBold.woff") format("woff");
}

.font-black,
.font-extrabold {
	font-weight: 900 !important;
}

.router-link-exact-active ._linksp {
	text-decoration: underline !important;
}

.router-link-exact-active ._link {
	text-decoration: underline !important;
	@apply font-bold;
}
body,
html {
	@apply font-reg text-cblack overflow-x-hidden;
}
@media only screen and (min-width: 1550px) {
	body,
	html {
		font-size: 115% !important;
		font-size-adjust: inherit;
	}
	mark {
		font-size: 105% !important;
	}
	.big-logo {
		width: 140px !important;
	}
	.smal-logo {
		width: 130px !important;
	}

	.-f-smal-logo {
		width: 110px !important;
	}

	.-cl {
		left: 30px !important;
	}

	.-h {
		height: 80px !important;
	}

	.-p {
		top: 5px !important;
	}
}

.trans,
a,
button,
li,
svg {
	@apply transition-all duration-300 ease-in-out;
}

h1 {
	@apply text-6xl font-black;
}

/* rules that target nested elements */
.nested-enter-active .inner,
.nested-leave-active .inner {
	transition: all 0.3s ease-in-out;
}

.nested-enter-from .inner,
.nested-leave-to .inner {
	transform: translateX(30px);
	opacity: 0;
}

.tooltip-top {
	@apply content-[''] z-50 absolute -bottom-[25px] left-8  sm:left-1/2 -translate-x-2 border-8 border-x-transparent border-b-transparent border-t-white;
}

.btn {
	@apply sm:ring-4 ring-transparent hover:ring-4 hover:ring-offset-2 sm:hover:ring-cyellow border-cwhite;
}

.btn:hover {
	@apply sm:ring-2 sm:ring-cgreen;
}

.customShadow {
	box-shadow: -6px 0px 89px -16px rgba(2, 57, 72, 0.25);
	-webkit-box-shadow: -6px 0px 89px -16px rgba(2, 57, 72, 0.25);
	-moz-box-shadow: -6px 0px 89px -16px rgba(2, 57, 72, 0.25);
}

.cnav--ul__li:hover {
	@apply underline;
}

.opaAnnim {
	animation: opa 0.5s ease-in-out;
	-webkit-animation: opa 0.5s ease-in-out;
}

.tooglem {
	animation: toogleMenu 0.5s ease-in-out;
	-webkit-animation: toogleMenu 0.5s ease-in-out;
}

.tooglem2 {
	animation: toogleMenu2 0.5s ease-in-out;
	-webkit-animation: toogleMenu2 0.5s ease-in-out;
}

.tooglen {
	animation: toogleNav 0.5s ease-in-out;
	-webkit-animation: toogleNav 0.5s ease-in-out;
}

.tooglenNone {
	animation: none !important;
	-webkit-animation: none !important;
}

@keyframes opa {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes toogleMenu {
	from {
		opacity: 0;
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}
}

@keyframes toogleMenu2 {
	from {
		opacity: 0;
		transform: scale(0) rotate(180deg);
		-webkit-transform: scale(0) rotate(180deg);
		-moz-transform: scale(0) rotate(180deg);
		-ms-transform: scale(0) rotate(180deg);
		-o-transform: scale(0) rotate(180deg);
	}
	to {
		opacity: 1;
		transform: scale(1) rotate(0deg);
		-webkit-transform: scale(1) rotate(0deg);
		-moz-transform: scale(1) rotate(0deg);
		-ms-transform: scale(1) rotate(0deg);
		-o-transform: scale(1) rotate(0deg);
	}
}

@keyframes toogleNav {
	from {
		opacity: 0;
		transform: scale(0.98) translateY(5px);
		-webkit-transform: scale(0.98) translateY(5px);
		-moz-transform: scale(0.98) translateY(5px);
		-ms-transform: scale(0.98) translateY(5px);
		-o-transform: scale(0.98) translateY(5px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0px);
		-webkit-transform: scale(1) translateY(0px);
		-moz-transform: scale(1) translateY(0px);
		-ms-transform: scale(1) translateY(0px);
		-o-transform: scale(1) translateY(0px);
	}
}

@media (max-width: 340px) {
	.smalls {
		display: none;
	}
}

@media (max-width: 540px) {
	.flexc {
		@apply flex justify-center items-center;
	}
}

.tooglea {
	overflow: hidden;
	animation: toogleAcc 0.5s ease-in-out;
	-webkit-animation: toogleAcc 0.5s ease-in-out;
}

@keyframes toogleAcc {
	from {
		opacity: 0;
		height: 1px !important;
		overflow: hidden !important;
	}
	to {
		opacity: 1;
		height: 100px !important;
	}
}

mark {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 100% 8px;
	background-repeat: no-repeat;
	background-size: 100% 0.3em;
	background-position: 0 88%;
	font-weight: inherit;
	/* background-image: url(./bg/large-brush-heading.svg); */
	color: inherit;
}

.mark1 {
	@apply bg-gradient-to-l from-[#fff0] via-cyellow to-[#fff0];
}

.mark2 {
	@apply bg-gradient-to-l from-[#fff0] via-cgreen to-[#fff0];
}

/* ... other necessary CSS omitted */

.vue3-progress {
	color: #f7da33 !important;
}

.vue3-progress,
.vue3-progress:before,
.vue3-progress:after {
	border-radius: 50% !important;
	width: 1.5em !important;
	height: 1.5em !important;
	z-index: 99999999 !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-ms-border-radius: 50% !important;
	-o-border-radius: 50% !important;
}

.vue3-progress,
.vue3-progress:before,
.vue3-progress:after {
	-webkit-animation-fill-mode: both !important;
	animation-fill-mode: both !important;
	-webkit-animation: load7 1.8s infinite ease-in-out !important;
	animation: load7 1.8s infinite ease-in-out !important;
}
.vue3-progress {
	color: #f7da33;
	font-size: 10px;
	position: relative !important;
	top: -10px !important;
	left: calc(50% - 30px) !important;
	right: 0 !important;
	text-indent: -9999em;
	/* -webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0); */
	-webkit-animation-delay: -0.16s !important;
	animation-delay: -0.16s !important;
}
.vue3-progress:before,
.vue3-progress:after {
	content: "";
	position: absolute;
	z-index: 99999999 !important;
	top: 0;
	font-size: 10px;
}
.vue3-progress:before {
	font-size: 10px !important;
	left: -2em !important;
	-webkit-animation-delay: -0.32s !important;
	animation-delay: -0.32s !important;
}
.vue3-progress:after {
	left: 2em !important;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.-bg-gradient--gray {
	@apply bg-gradient-to-r from-[#4e747f] via-[#4e747f] to-[#678891];
}

.cursor {
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 50%;
	@apply opacity-80 hidden sm:block;
	user-select: none;
	pointer-events: none;
	z-index: 999 !important;
}

.cursor .cursor__child {
	width: 18px;
	height: 18px;
	animation-duration: 2s !important;
}
.cursor__child {
	@apply hidden sm:block -bg-gradient--gray animate-spin rounded-md duration-500;
}
.follower {
	z-index: 99 !important;
	position: fixed;
	@apply hidden sm:block;
	top: 0;
	left: 0;
	opacity: 0.4;
	border-radius: 50%;
	user-select: none;
	pointer-events: none;
}

.follower__child {
	@apply rounded-full border-2 border-[#819ca4];
}

.follower .follower__child {
	width: 70px;
	height: 70px;
	animation: zoomInOut 2s linear infinite !important;
	-webkit-animation: zoomInOut 2s linear infinite !important;
}

@keyframes zoomInOut {
	0% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
	50% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	100% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
	}
}
